{{!--
	DEV/LOG: ISSUE TRACKING SYSTEM FOR DEVELOPERS.
	COPYRIGHT (C) 2014 BY RICO BETI <RICO.BETI@SILENTBYTE.COM>.

	THIS FILE IS PART OF DEV/LOG.

	DEV/LOG IS FREE SOFTWARE: YOU CAN REDISTRIBUTE IT AND/OR MODIFY IT
	UNDER THE TERMS OF THE GNU GENERAL PUBLIC LICENSE AS PUBLISHED BY
	THE FREE SOFTWARE FOUNDATION, EITHER VERSION 3 OF THE LICENSE, OR
	(AT YOUR OPTION) ANY LATER VERSION.

	DEV/LOG IS DISTRIBUTED IN THE HOPE THAT IT WILL BE USEFUL,
	BUT WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF
	MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. SEE THE
	GNU GENERAL PUBLIC LICENSE FOR MORE DETAILS.

	YOU SHOULD HAVE RECEIVED A COPY OF THE GNU GENERAL PUBLIC LICENSE
	ALONG WITH DEV/LOG. IF NOT, SEE <http://www.gnu.org/licenses/>.
--}}
<div id="wrapper">
	{{!-- Main Navigation --}}
	<nav id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{{#link-to 'index' class="navbar-brand"}}&lt;dev/log&gt;{{/link-to}}
		</div>
		<ul class="nav navigation-container navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-gear fa-fw"></i><i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation">
						{{#link-to 'index'}}<i class="fa fa-sign-out fa-fw"></i>Sign Out{{/link-to}}
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	{{!-- / Main Navigation / --}}

	{{!-- Sidebar --}}
	<div id="sidebar-container" class="navbar-default sidebar-container" role="navigation">
		<div id="sidebar" class="sidebar-navigation navbar-collapse">
			<ul class="nav">
				{{!-- Search --}}
				<li class="sidebar-search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</li>
				{{!-- / Search / --}}

				{{!-- Navigation Items --}}
				<li>
					{{#link-to 'index'}}<i class="fa fa-dashboard fa-fw"></i>Overview{{/link-to}}
				</li>
				{{!-- / Navigation Items / --}}
			</ul>
		</div>
	</div>
	{{!-- / Sidebar / --}}

	{{!-- Content Wrapper --}}
	<div id="content-wrapper">
		{{!-- Content  --}}
		<div id="content">
			{{outlet}}
			{{outlet 'modal'}}
		</div>
		{{!-- / Content / --}}

		{{!-- Footer --}}
		<footer id="footer" class="navbar-default">
			<hr />
			<div class="pull-right">
				{{copyright}}
			</div>
		</footer>
		{{!-- / Footer / --}}
	</div>
	{{!-- / Content Wrapper / --}}
</div>